<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ownCloud</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UIDocumentPickerModes</key>
			<array>
				<string>UIDocumentPickerModeOpen</string>
				<string>UIDocumentPickerModeImport</string>
				<string>UIDocumentPickerModeMoveToService</string>
				<string>UIDocumentPickerModeExportToService</string>
			</array>
			<key>UIDocumentPickerSupportedFileTypes</key>
			<array>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.html</string>
				<string>public.presentation</string>
				<string>public.video</string>
				<string>public.mpeg</string>
				<string>public.audio</string>
				<string>public.image</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>public.data</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-ui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>DocumentPickerViewController</string>
	</dict>
</dict>
</plist>
